p{ 
    text-align: right;
}
h1 {
    text-align: center;

}
a { 
    text-decoration: none;
}
#h1 {
    font-weight: normal;
}
#h2 {
    font-weight: bold;
}
#h3 {
    font-weight: bolder;
}
#h3 {
    font-weight: lighter;
}
#one {
    font-family: Arial;
}
#two {
    font-family: Courier ;
}