
/* body {
    background-color: rgb(86, 86, 242);
}
*{
    padding: 0;
    margin:0;
    color:white
}
 #one {
    height: 60px;
    background-color: black;
    border-color: white;

 }
 button {
    background-color:#f08804;
} 
#logo {
    color: #f08804;
    font-size: 25px;
}
a {
    margin-right:200px;
    text-decoration:none;
}
 
  */
  div {
    background-color: pink;
    display: inline;
  }

 




    
