

/* div {
    height: 120px;
    width: 100px;
    background-color: purple;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(104, 205, 50);
} */
    
div { 
    border:2px solid brown

}
h1 {
    width: 200px;
    height: 50px;
    background-color: aquamarine;
    border-width: 4px;
    border-style: dashed;
    border-color: black;
    text-align: center;
}
    
