
body {
    background-color: blue;
}
 div {
    background-color: black;
    border: 20px;
    border-style: white;
    
 }
 #one {
    color: orange;
    
 }
 #two {
    color: white;
 }
 #three {
    background-color: whitesmoke;
 }
 #four {
    background-color: #f08804;
    color: white;

 }
 

 




    
