
*{
  padding: 0;
  margin: 0;
}
#one{
  background-color: black;
  height: 60px;
  
}
#navbar {
  height: ;
  background-color: black;
}
a{
  text-decoration: none;
  color:white;
  margin-left: 200px;

}
#logo {
  margin-left: 2px;
  font-size: 25px;
  color: #f08804;


}
input {
  margin-left:200px;
}
button {
  background-color: #f08804;
  color: white;
}
.contentBox {
  width: 100px;
  height: 100px;
}